.pixel-canvas {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
  }
  
  .pixel-card {
    margin-top: 50px;
    margin-bottom: 50px;
    /*min-height: 500px;
    width: 1320px;*/
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 60px;
    isolation: isolate;
    transition: border-color 200ms cubic-bezier(0.5, 1, 0.89, 1);
    user-select: none;
    background-color: rgb(0, 0, 0, 1);
  }
  
  .pixel-card::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    aspect-ratio: 1;
    background: linear-gradient(circle, #09090b, transparent 85%);
    opacity: 0;
    transition: opacity 800ms cubic-bezier(0.5, 1, 0.89, 1);
  }
  
  .pixel-card:hover::before,
  .pixel-card:focus-within::before {
    opacity: 1;
  }