nav.navbar{
    padding: 15px 0;
    box-sizing: border-box;
    /* always to be visible above all other elements */
    z-index: 9999;
    /* this is because you want the navbar to always be visible at the top */
    position: fixed;
    width: 100%;
    transition: 0.5s ease-in-out;
}

nav.navbar a.navbar-brand{
    width: 10%;
}

nav.navbar .navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}
nav.navbar .navbar-nav .nav-link.navbar-link{
    /* links within the Nav component*/
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.6px;
    padding: 0 20px;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.6;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active{
    opacity: 1;
    transition: 0.5s ease-in-out;
    color: aqua;
}
.navbar-content .navbar-collapse{
    display: flex;
    align-items: center;
}

span.navbar-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon{
    display: inline-block;
    margin: 0 15px;
}

nav.navbar.scrolled{
    /* once scrolled the background color of the navbar is set to 
    dark grey which is the color apart from the beginning part where we have
    a galaxy like appearance*/
    background-color: #121212;
}


.social-icon a{
    width: 50px;
    height: 50px;
    margin:auto 5px;
    display: inline-flex;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 5px;
    line-height: 1;
    justify-content: center;
    align-items: center;
}

.social-icon a::before{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: cyan;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}
  
.social-icon a img {
    width: 70%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}


.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
  

.navbar-text button{
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    border: 1px solid #fff;
    padding:0 20px;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    position: relative;
} 

/*ensures the span element which in this case contains 
the button remains layered above all other elements within the button*/ 
.navbar-text button span{
    z-index: 1;
}
/*sets up a pseudo before element*/

.navbar-text button::before{
    content: "";
    width: 0%;
    height: 100%;
    background-color: cyan;
    transition: 0.3s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.navbar-text button:hover{
    color: #121212;
}

/* declares what happens to the pseudo element when you hover above */
.navbar-text button:hover::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}


