
.wrapper{
    position: relative;
    width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column;
}

.headerLine{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.wrapper .container{
    display: flex;
    justify-content: start;
}

.card{
    width: 120px;
    height: 400px;
    border-radius: 60px;
    background-color: rgba(0, 0, 0, 1);
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin: 0 14px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
}
.card > .row {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.card  .icon {
    background: cyan;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 30px;
    left: 50px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 400px;
    width: 700px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}


.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 700px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}


.c2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
