/************ Banner Css ************/

.banner {
    margin-top: 0;
    padding: 200px 0 100px 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner .container .align-items-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 40px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 60px;
    display: inline-block;
    border-radius: 5px;
  }
  .banner h1 {
    font-size: 65px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    margin-left: 60px;
  }

  .devname{
    display: inline-flex;
  }

  .banner h1 span.devname, span.wrap{
    color: aqua;
    font-weight: 700;
  }
  .banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    margin-left: 60px;
  }
  .banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    background: transparent; /* Adjusted opacity */
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 10px 20px;
    margin-left: 60px;
    
}
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner button:hover{
    color: cyan;
  }
  .banner button:hover svg {
    margin-left: 25px;
  }
  .banner img.iconB {
    animation: updown 3s linear infinite;
    max-width: 100%;
    height: auto;
  }

  .banner img.iconA{
    height: 350px;
    width: auto;
    opacity: 1;
    background-color: cyan;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px rgba(0, 255, 255, 1); /* Glowing effect */
    transition: box-shadow 0.5s ease-in-out;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
        box-shadow: 0 0 20px 10px rgba(0, 255, 255, 0.7);
    }
    50% {
        box-shadow: 0 0 30px 15px rgba(0, 255, 255, 1);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(0, 255, 255, 0.7);
    }
}

  .banner #header-img{
    flex: 0 0 35%;
  }

  .iconA, .iconB{
    transition: opacity 0.8s ease-in-out;
  }

  .hide{
    opacity: 0;
  }

  .show{
    opacity: 1;
  }


  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
  /*select direct children of the element .txt-rotate */
  .txt-rotate > .wrap {
    border-right: 0.07em solid #7c7c7c;
    animation: blink 0.5s infinite;
  }

  @keyframes blink {
    0% { border-color: #7c7c7c; }
    50% { border-color: transparent; }
    100% { border-color: #7c7c7c; }
  }





